<h1>About</h1>

<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com", target: "_blank" %> is a project ot teach <%= link_to "Ruby on Rails", "http://rubyonrails.org", target: "_blank" %> in one month. This is the sample application.
</p>